<div class="p-2 w-full relative h-screen max-h-screen bg-background">
  <header>
    <!-- logo image -->
    <div class="flex justify-center">
      <img class="w-32" alt="bingetap logo"
        [src]="isDarkMode() ? './../assets/imgs/bingetap-logo-dark.png' : './../assets/imgs/bingetap-logo.png'">
    </div>

    <!-- Settings button -->
    <div class="absolute top-2 z-20">
      <app-button (click)="openSettingsModal()" [icon]="'heroAdjustmentsHorizontalSolid'"
        [enableBorder]="true"></app-button>
    </div>


    <div class="absolute top-2 right-2 z-20">
      <div class="flex flex-col gap-1">
        <!-- Information button -->
        <div>
          <app-button [icon]="'heroInformationCircle'" [enableBorder]="true"></app-button>
        </div>

        <!-- Fullscreen button -->
        <div>
          <app-button (click)="toggleFullScreen()" [icon]="'phosphorCornersOut'" [enableBorder]="true"></app-button>
        </div>
      </div>
    </div>
  </header>

  <main>
    <!-- Counter -->
    <div class="absolute top-0 left-0 w-full h-screen flex flex-col items-center justify-center">
      <div class="text-[10rem] font-bold text-text-primary">
        {{ tapCount() | number}}
      </div>
      <span class="text-text-primary ">Start tapping anywhere on screen! :)</span>
    </div>

    <div class="absolute bottom-2 left-2">
      <div class="flex flex-col gap-2">
        <!-- stats -->
        <div>
          <ul class="opacity-60">
            <li class="text-sm text-text-primary">Tap Speed: {{'20' | number}}/min</li>
            <li class="text-sm text-text-primary">Tap this lap: {{'209' | number}}</li>
            <li class="text-sm text-text-primary">Total laps: {{'2' | number}}</li>
          </ul>
        </div>
        <app-button class="z-20" [text]="'Enable Autosave'" [icon]="'phosphorFloppyDisk'"
          [enableBorder]="true"></app-button>

      </div>
    </div>

    <div class="absolute bottom-2 right-2 z-20">
      <div>
        <app-button (click)="onReset()" [text]="'Reset Counter'" [icon]="'phosphorArrowCounterClockwise'"
          [enableBorder]="true"></app-button>
      </div>
    </div>

    <div (click)="onTap()" style="background-image: url();"
      class="absolute top-0 left-0 w-full h-screen z-10 bg-contain bg-no-repeat bg-center">
    </div>
  </main>

  <footer>
    <div class="sm:absolute sm:w-full sm:bottom-2 sm:left-0">
      <div class="flex flex-col justify-around gap-y-1">
        <p class="text-center text-xs text-text-primary dark:text-text-accent  opacity-60">Bingetap is, and always will be <b>free</b></p>
        <div class="text-center">
          @for (item of footerLinks(); track $index) {
          <a class="relative underline text-text-primary dark:text-text-accent hover:font-semibold hover:text-text-primary dark:hover:dark:text-text-accent hover:underline opacity-60 text-xs z-20"
            [href]="item.url">{{item.title}}</a>
          @if (!$last) {
          <span class="mx-2 text-text-primary dark:text-text-accent opacity-60">|</span>
          }
          }
        </div>
        <p class="text-center text-xs text-text-primary dark:text-text-accent  opacity-40">Made with ❤️ in Angular</p>
      </div>
    </div>
  </footer>
</div>