/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: 238 234 227;
    --color-primary: 238 238 238;
    --color-accent: 60 64 43;
    --color-text-primary: 60 64 43;
    --color-text-accent: 238 238 238;
  }

  :root[data-theme="light"] {
    --color-bg: 238 234 227;
    --color-primary: 238 238 238;
    --color-accent: 60 64 43;
    --color-text-primary: 60 64 43;
    --color-text-accent: 238 238 238;
  }
  
  :root[data-theme="dark"] {
    --color-bg: 45 42 37;
    --color-primary: 18 18 18;
    --color-accent: 50 49 47;
    --color-text-primary: 238 238 238;
    --color-text-accent: 238 238 238;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-bg: 45 42 37;
      --color-primary: 18 18 18;
      --color-accent: 50 49 47;
      --color-text-primary: 238 238 238;
      --color-text-accent: 238 238 238;
    }
  }
}

.body {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
}

.btn-sqr {
  @apply p-1 flex items-start gap-1 border-2 border-r-4 border-b-4 border-accent rounded-md;
}

